:root {
    --primary-color: #202020;
    --primary-background: #e4e9f7;
}

[data-theme="dark"] {
    --primary-color: #fff;
    --primary-background: #202020;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 400px;
    height: 450px;
    background-color: var(--primary-background);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: #4608ad;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .navbar-image {
    width: 30px;
    height: auto;
    transform: translateZ(300px);
}

.header .navbar-left .navbar-header {
    color: #fff;
    text-transform: uppercase;
}

.header .navbar-header::first-letter {
    font-size: 0;
}

.tabs {
    width: 100%;
    background-color: var(--primary-background);
}

.tabs .tab-list {
    position: relative;
    display: flex;
    padding: 0px;
    background-color: #fff;
    border-bottom: 1px solid lightgray;
}

.tabs .tab-list .line {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 3px;
    background-color: #4608ad;
    border-radius: 3px;
    transition: all 0.2s ease;
}

.tabs .tab-list .tab-item {
    padding: 5px 20px;
    width: max-content;
    text-transform: capitalize;
    color: #4608ad;
    cursor: pointer;
}

.tabs li.active {
    border-bottom: 2px solid #4608ad;
    background-color: #4708ad12;
}

.tabs .tab-content {
    width: 100%;
    padding: 20px;
}

.tabs .tab-content .tab-pane {
    display: none;
}

.tabs .tab-pane .pane-header {
    margin: 3px 0;
    color: var(--primary-color);
    text-transform: capitalize;
}

.tabs .tab-pane.active {
    display: block;
}

.toggle {
    position: relative;
    width: 35px;
    height: 15px;
    background-color: #bbb;
    border-radius: 20px;
    cursor: pointer;
}

.toggle .toggle-item {
    position: absolute;
    top: 2px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #202020;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.toggle .toggle-item.active {
    left: 20px !important;
}